
{% extends 'application_base.html' %}
{% load static %}
{% block metadetails %}
    <title>Online Tests for Competitive Exams - First Edu</title>
    <meta name="description" content="Unlock success with our comprehensive online tests for competitive
    exams. Prepare effectively, track progress, and ace your exams with ease. Explore a
    wide range of subjects and topics. Start your journey to excellence today!">
    <meta name="keywords" content="Online Tests for Competitive Exams, Online Test Series for CBSE, Online
    Test Series for ICSE, Online Test Series for State Syllabus, Mock Test Series,
    Olympiad Exams, CBSE School Exam, CBSE Mock Test, Mock Test for CBSE, CBSE
    Maths Mock Test, CBSE Maths Online Test, CBSE Online Test, CBSE Science Mock
    Test, CBSE Science Online Test, CBSE Online Test, Online MCQ Test for CBSE
    Science, ICSE School Exam, ICSE Mock Test, ICSE Mock Test, Mock Test ICSE,
    Online Mock Test for ICSE, Mock Test ICSE, Online MCQ Test for English, Online MCQ
    Test for Hindi, Online MCQ Test for Maths, Online MCQ Test for Social Science,
    English Olympiad Online Test, Maths Olympiad Online Test, Maths Olympiad Mock
    Test, NSO Online Practice Test, Online Aptitude Test, Online Test, Math MCQ Online
    Test, Online Test, Online Competitive Exam, Online Test for Maths, Online Test for
    English, English Online Test, Maths Online Test, Mock Test, Online Exam, Online Test
    English, Online Test Maths, Online Test Science, Online MCQ Test for Science, Maths
    Test Online, Online Quiz, Online Test Maths, Online Test Science, Social Science
    Online Test, SST Online Test, Competitive Exams Online, English Grammar Online
    Test, English Online Test, English Online Test, Maths MCQ Online Test, Maths Online
    Test, Maths Online Quiz, Maths Test Online, NCERT Science Online Test, NCERT
    Online Test, NCERT Online Test Science, NCERT Science Online Test, Online Math
    Test, Online Science Test, Online English Grammar Test, Online Exam, Online
    Grammar Test, Online Maths Quiz, Online Maths Quiz, Online MCQ Test, Online
    Aptitude Test, Speed Live Test, Spell Bee, Vocabulary Live Test, Vocabulary Speed
    Test, School Exam Preparation, School Exams, School Live Test, State Board School
    Exams, Calculation Practice, Maths Calculation Practice, Fast Calculation Practice,
    Math Calculation Practice, Online Maths Calculation Test, Maths Calculation Speed
    Test Online, Online Calculation Practice">
    <link rel="canonical" href="https://firstedu.co.in/contact-us" />
{% endblock metadetails %}
{% block content %}
<section class="section_contact-banner bgs-lightblue">
<div class="container">
    <div class="row">
        <div class="col-lg-6  align-self-center ">
            <p class="cl-blue   fs-14 "># Write Tests. Check Results. Build Your Knowledge</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">Best Online Knowledge Building Platform</h2>
            <p class="cl-blue-1  fs-15 pt-4 right-padding">Access our platform to sharpen your knowledge and skill.</p>
        </div>
        <div class="col-lg-6 text-lg-right text-center">
            <img src="{% static 'images/contact-banner.png' %}" alt="" class=" img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_contact-keep-touch" id="section_contact-keep-touch">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <div class="row">
                    <div class="col-12 text-center pb-md-5">
                        <h2 class="pt-3 pb-4 fs-35 font-size test-bold">Keep in touch</h2>
                        <ul class="list-unstyled  text-center d-flex justify-content-center icon-border pt-4 pb-4">
                            <li>
                            <a href="https://www.facebook.com/firstedubangalore" target="_blank" class="cl-black pl-lg-5 scl-icon-hover"><i class="fab fa-facebook-f fs-45  icon-size  padd-lef-rit br-right pt-sm-3 pt-1"></i></a>
                            </li>
                            <li>
                            <a href="https://twitter.com/First_Edu_" target="_blank"class="cl-black scl-icon-hover" ><i class="fab fa-twitter fs-45 icon-size padd-lef-rit br-right pt-sm-3 pt-1"></i></a>
                            </li>
                            <li>
                            <a href="https://www.linkedin.com/company/first-edu/" target="blank"class="cl-black scl-icon-hover" ><i class="fab fa-linkedin-in fs-45 icon-size padd-lef-rit br-right pt-sm-3 pt-1"></i></a>
                            </li>
                            <li>
                            <a href="https://www.instagram.com/firstedu_india/" target="_blank"class="cl-black scl-icon-hover" ><i class="fab fa-instagram fs-45 icon-size padd-lef-rit br-right pt-sm-3 pt-1"></i></a>
                            </li>
                            <li>
                            <a href="/" target="blank"class="cl-black scl-icon-hover" ><i class="fab fa-youtube fs-45 icon-size padd-lef-rit  pt-sm-3 pt-1"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row pb-md-4 pt-3">
                    <div class="col-lg-4 icon-hover">
                        <div class="mx-3 text-center  pt-3">
                        <a href="https://www.google.com/maps/" target="blank" class="cl-blue " ><i class="fas fa-map-marker-alt fs-40  "></i></a>
                        <p class="pt-3 fs-13">Bangalore </p>
                        </div>
                    </div>
                    <div class="col-lg-4  icon-hover">
                        <div class="mx-3 text-center pt-3">
                        <a href="tel:+919353885583" class="cl-blue " ><i class="fas fa-phone-alt fs-40"></i>
                        <p class="cl-black decrt-none pt-3 fs-13">+91 9353885583</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-4 icon-hover">
                        <div class="mx-3 text-center  pt-3">
                        <a href="mailto:info@firstedu.co.in" class="cl-blue " ><i class="fas fa-envelope fs-40"></i>
                        <p class="cl-black decrt-none pt-3 fs-13">info@firstedu.co.in</p>
                        </a>
                        </div>
                    </div>
                </div>
              
                
            </div>
        </div>
    </div>
</section>

<section class="section-form-contact  pt-2 pb-5" >
    <div class="container">
        <div class="row pb-sm-4 mx-0">
            <form class="col-md-8.5  m-auto bgs-lightblue  form px-4 pt-4 pb-5 align-items-center" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                    <div class="row p-2">
                        <div class="col-lg-5 mx-auto col-sm-12 px-0">
                                <div class="form-group">
                                    <label for="inputEmail4" class="fs-16 pt-3 cl-dark">Full Name</label>
                                    <input type="text" class="form-control" id="inputEmail4" required name="full_name" maxlength="25">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4" class="fs-16  cl-dark pt-lg-3" >Email ID</label>
                                    <input type="email" class="form-control " id="inputEmail4" required name="email" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label for="inputPhoneNumber" class="fs-16  cl-dark pt-lg-3">Phone Number</label>
                                    <input type="text" class="form-control " id="inputPhoneNumber" required name="mobile_number" maxlength="10" onchange="phoneChangeHandler()">
                                    <p id = "phone_error" class = "text-danger"></p>
                                </div>
                        </div>
                        <div class="col-lg-5 mx-auto col-sm-12 px-0">
                            <div class="form-group pl-0">
                                <label for="inputPassword4" class="fs-17 cl-dark pt-3 w-100">Message</label>
                                <textarea id="" cols="30" rows="10"  required name="message"></textarea>
                            </div>
                    </div>
                    <div class="col-12 text-center mt-5 mb-3">
                        <input type="submit"  class="bgs-black text-white arrow contact-button cursor fs-13 lh-16 decrt-none border-0">
                    </div>
            </form>
        </div>
    </div>
</section>
<script>
    function phoneChangeHandler(){
        document.getElementById("phone_error").innerHTML = "";
    }
    function validateForm(){
      var phoneNumber = document.getElementById("inputPhoneNumber").value;
      var phonePattern = /^\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$/;
      if (phonePattern.test(phoneNumber)) {
        document.getElementById("phone_error").innerHTML = "";
        return true;
      } else {
        document.getElementById("phone_error").innerHTML = "Phone number not valid.";
        return false;
      }
    }
</script>

{% endblock content %}
