
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="test-bold fs-35  head-size-1 cl-black lh-55 mb-3">DISCLAIMER</h2>
                <p class="cl-grey-1  fs-15 my-4">
                    The information provided on firstedu.co.in (the “website”) is for general educational purposes only.
While we strive to ensure the accuracy and reliability of the information, we make no
representations or warranties of any kind, express or implied, about the completeness, accuracy,
reliability, suitability, or availability of the information contained on the Website. Any reliance you
place on such information is therefore strictly at your own risk.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    The educational content provided on the Website is intended to supplement your knowledge and
understanding. It should not be considered as a substitute for professional advice or formal
education. We recommend consulting with qualified professionals or institutions for specific
educational or academic matters.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    It is your responsibility to evaluate the accuracy, completeness, and usefulness of any information
or content available on the Website. We do not guarantee that the information or content provided
will meet your requirements or expectations. We shall not be held liable for any loss or damage
arising from your reliance on the information or content obtained through the Website.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    The Website may contain links to third-party websites or resources that are not under our control.
We have no control over the nature, content, and availability of those sites. The inclusion of any
links does not necessarily imply a recommendation or endorsement of the views expressed within
them. We shall not be responsible for any loss or damage caused by your use of any third-party
websites or resources.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    To the fullest extent permitted by applicable law, we shall not be liable for any direct, indirect,
incidental, consequential, or punitive damages arising out of or in connection with your use of the
Website. This limitation of liability applies regardless of the cause of action, whether in contract,
tort, or otherwise, even if advised of the possibility of such damages.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    By using the Website, you agree to indemnify, defend, and hold us harmless from any claims, losses,
liabilities, expenses, or demands, including reasonable attorneys&#39; fees, arising out of your use or
misuse of the Website, violation of any law, or violation of the rights of any third party.
                </p>
                <p class="cl-grey-1  fs-15 my-4">
                    Please note that this disclaimer is subject to change without notice. It is your responsibility to
review and understand the most current version before using the Website.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
