{% extends 'application_base.html' %}
{% load static %}
{% block metadetails %}
    <title>Online Practice Test for Class 1 to 8 - First Edu</title>
    <meta name="description" content="Discover comprehensive online practice tests tailored for students from
    Class 1 to 8 at First Edu. Enhance learning and boost academic performance with our
    engaging practice papers. Start your journey to academic success today!">
    <meta name="keywords" content="Online Test for Class 1, Class 1 Math MCQ Online Test, 1st Class Online Test,
    Online Competitive Exam for Class 1, Online Test for Class 1 Maths, Online Test for Class 1
    English, 1 Class Online Test, 1st Class English Online Test, 1st Class Maths Online Test, 1st
    Class Mock Test, 1st Class Online Exam, 1st Class Online Test English, 1st Class Online Test
    Maths, 1st Class Online Test Science, Online MCQ Test for Class 1 Science, Class 1 Maths
    Test Online, Class 1 Online Quiz, Class 1 Online Test Maths, Class 1 Online Test Science,
    Class 1 Social Science Online Test, Class 1 SST Online Test, Competitive Exams for Class 1
    Online, English Grammar Online Test for Class 1, English Online Test Class 1, English Online
    Test for Class 1, Maths Class 1 MCQ Online Test, Maths Class 1 Online Test, Maths Online
    Quiz for Class 1, Maths Test for Class 1 Online, NCERT Class 1 Science Online Test, NCERT
    Online Test Class 1, NCERT Online Test for Class 1 Science, NCERT Science Class 1 Online
    Test, Online Class 1 Math Test, Online Class 1 Science Test, Online English Grammar Test for
    Class 1, Online Exam of Class 1, Online Grammar Test for Class 1, Online Maths Quiz Class 1,
    Online Maths Quiz for Class 1, Online MCQ Test for Class 1, Online MCQ Test for Class 1
    English, Online MCQ Test for Class 1 Hindi, Online MCQ Test for Class 1 Maths, Online MCQ
    Test for Class 1 Social Science, 1st Standard Online Test, School Exam Preparation, School
    Exams, School Live Test, State Board School Exams, CBSE School Exam, CBSE Class 1 Mock
    Test, Mock Test for Class 1 CBSE, CBSE Class 1 Maths Mock Test, CBSE Class 1 Maths
    Online Test, CBSE Class 1 Online Test, CBSE Class 1 Science Mock Test, CBSE Class 1
    Science Online Test, CBSE Online Test Class 1, Online MCQ Test for Class 1 CBSE Science,
    ICSE School Exam, ICSE Mock Test, Class 1 ICSE Mock Test, ICSE Class 1 Mock Test, ICSE
    Mock Test, Mock Test Class 1 ICSE, Online Mock Test for Class 1 ICSE, Mock Test ICSE
    Class 1, Online Test for Class 2, Class 2 Math MCQ Online Test, 2nd Class Online Test, Online
    Competitive Exam for Class 2, Online Test for Class 2 Maths, Online Test for Class 2 English, 2
    Class Online Test, 2nd Class English Online Test, 2nd Class Maths Online Test, 2nd Class
    Mock Test, 2nd Class Online Exam, 2nd Class Online Test English, 2nd Class Online Test
    Maths, 2nd Class Online Test Science, Online MCQ Test for Class 2 Science, Class 2 Maths
    Test Online, Class 2 Online Quiz, Class 2 Online Test Maths, Class 2 Online Test Science,
    Class 2 Social Science Online Test, Class 2 SST Online Test, Competitive Exams for Class 2
    Online, English Grammar Online Test for Class 2, English Online Test Class 2, English Online
    Test for Class 2, Maths Class 2 MCQ Online Test, Maths Class 2 Online Test, Maths Online
    Quiz for Class 2, Maths Test for Class 2 Online, NCERT Class 2 Science Online Test, NCERT
    Online Test Class 2, NCERT Online Test for Class 2 Science, NCERT Science Class 2 Online
    Test, Online Class 2 Math Test, Online Class 2 Science Test, Online English Grammar Test for
    
    Class 2, Online Exam of Class 2, Online Grammar Test for Class 2, Online Maths Quiz Class 2,
    Online Maths Quiz for Class 2, Online MCQ Test for Class 2, Online MCQ Test for Class 2
    English, Online MCQ Test for Class 2 Hindi, Online MCQ Test for Class 2 Maths, Online MCQ
    Test for Class 2 Social Science, 2nd Standard Online Test, School Exam Preparation, School
    Exams, School Live Test, State Board School Exams, CBSE School Exam, CBSE Class 2 Mock
    Test, Mock Test for Class 2 CBSE, CBSE Class 2 Maths Mock Test, CBSE Class 2 Maths
    Online Test, CBSE Class 2 Online Test, CBSE Class 2 Science Mock Test, CBSE Class 2
    Science Online Test, CBSE Online Test Class 2, Online MCQ Test for Class 2 CBSE Science,
    ICSE School Exam, ICSE Mock Test, Class 2 ICSE Mock Test, ICSE Class 2 Mock Test, ICSE
    Mock Test, Mock Test Class 2 ICSE, Online Mock Test for Class 2 ICSE, Mock Test ICSE
    Class 2, Online Test for Class 3, Class 3 Math MCQ Online Test, 3rd Class Online Test, Online
    Competitive Exam for Class 3, Online Test for Class 3 Maths, Online Test for Class 3 English, 3
    Class Online Test, 3rd Class English Online Test, 3rd Class Maths Online Test, 3rd Class Mock
    Test, 3rd Class Online Exam, 3rd Class Online Test English, 3rd Class Online Test Maths, 3rd
    Class Online Test Science, Online MCQ Test for Class 3 Science, Class 3 Maths Test Online,
    Class 3 Online Quiz, Class 3 Online Test Maths, Class 3 Online Test Science, Class 3 Social
    Science Online Test, Class 3 SST Online Test, Competitive Exams for Class 3 Online, English
    Grammar Online Test for Class 3, English Online Test Class 3, English Online Test for Class 3,
    Maths Class 3 MCQ Online Test, Maths Class 3 Online Test, Maths Online Quiz for Class 3,
    Maths Test for Class 3 Online, NCERT Class 3 Science Online Test, NCERT Online Test Class
    3, NCERT Online Test for Class 3 Science, NCERT Science Class 3 Online Test, Online Class
    3 Math Test, Online Class 3 Science Test, Online English Grammar Test for Class 3, Online
    Exam of Class 3, Online Grammar Test for Class 3, Online Maths Quiz Class 3, Online Maths
    Quiz for Class 3, Online MCQ Test for Class 3, Online MCQ Test for Class 3 English, Online
    MCQ Test for Class 3 Hindi, Online MCQ Test for Class 3 Maths, Online MCQ Test for Class 3
    Social Science, 3rd Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 3 Mock Test, Mock
    Test for Class 3 CBSE, CBSE Class 3 Maths Mock Test, CBSE Class 3 Maths Online Test,
    CBSE Class 3 Online Test, CBSE Class 3 Science Mock Test, CBSE Class 3 Science Online
    Test, CBSE Online Test Class 3, Online MCQ Test for Class 3 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 3 ICSE Mock Test, ICSE Class 3 Mock Test, ICSE Mock Test,
    Mock Test Class 3 ICSE, Online Mock Test for Class 3 ICSE, Mock Test ICSE Class 3, Online
    Test for Class 4, Class 4 Math MCQ Online Test, 4th Class Online Test, Online Competitive
    Exam for Class 4, Online Test for Class 4 Maths, Online Test for Class 4 English, 4 Class
    Online Test, 4th Class English Online Test, 4th Class Maths Online Test, 4th Class Mock Test,
    4th Class Online Exam, 4th Class Online Test English, 4th Class Online Test Maths, 4th Class
    Online Test Science, Online MCQ Test for Class 4 Science, Class 4 Maths Test Online, Class 4
    Online Quiz, Class 4 Online Test Maths, Class 4 Online Test Science, Class 4 Social Science
    Online Test, Class 4 SST Online Test, Competitive Exams for Class 4 Online, English Grammar
    Online Test for Class 4, English Online Test Class 4, English Online Test for Class 4, Maths
    Class 4 MCQ Online Test, Maths Class 4 Online Test, Maths Online Quiz for Class 4, Maths
    Test for Class 4 Online, NCERT Class 4 Science Online Test, NCERT Online Test Class 4,
    NCERT Online Test for Class 4 Science, NCERT Science Class 4 Online Test, Online Class 4
    Math Test, Online Class 4 Science Test, Online English Grammar Test for Class 4, Online
    
    Exam of Class 4, Online Grammar Test for Class 4, Online Maths Quiz Class 4, Online Maths
    Quiz for Class 4, Online MCQ Test for Class 4, Online MCQ Test for Class 4 English, Online
    MCQ Test for Class 4 Hindi, Online MCQ Test for Class 4 Maths, Online MCQ Test for Class 4
    Social Science, 4th Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 4 Mock Test, Mock
    Test for Class 4 CBSE, CBSE Class 4 Maths Mock Test, CBSE Class 4 Maths Online Test,
    CBSE Class 4 Online Test, CBSE Class 4 Science Mock Test, CBSE Class 4 Science Online
    Test, CBSE Online Test Class 4, Online MCQ Test for Class 4 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 4 ICSE Mock Test, ICSE Class 4 Mock Test, ICSE Mock Test,
    Mock Test Class 4 ICSE, Online Mock Test for Class 4 ICSE, Mock Test ICSE Class 4, Online
    Test for Class 5, Class 5 Math MCQ Online Test, 5th Class Online Test, Online Competitive
    Exam for Class 5, Online Test for Class 5 Maths, Online Test for Class 5 English, 5 Class
    Online Test, 5th Class English Online Test, 5th Class Maths Online Test, 5th Class Mock Test,
    5th Class Online Exam, 5th Class Online Test English, 5th Class Online Test Maths, 5th Class
    Online Test Science, Online MCQ Test for Class 5 Science, Class 5 Maths Test Online, Class 5
    Online Quiz, Class 5 Online Test Maths, Class 5 Online Test Science, Class 5 Social Science
    Online Test, Class 5 SST Online Test, Competitive Exams for Class 5 Online, English Grammar
    Online Test for Class 5, English Online Test Class 5, English Online Test for Class 5, Maths
    Class 5 MCQ Online Test, Maths Class 5 Online Test, Maths Online Quiz for Class 5, Maths
    Test for Class 5 Online, NCERT Class 5 Science Online Test, NCERT Online Test Class 5,
    NCERT Online Test for Class 5 Science, NCERT Science Class 5 Online Test, Online Class 5
    Math Test, Online Class 5 Science Test, Online English Grammar Test for Class 5, Online
    Exam of Class 5, Online Grammar Test for Class 5, Online Maths Quiz Class 5, Online Maths
    Quiz for Class 5, Online MCQ Test for Class 5, Online MCQ Test for Class 5 English, Online
    MCQ Test for Class 5 Hindi, Online MCQ Test for Class 5 Maths, Online MCQ Test for Class 5
    Social Science, 5th Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 5 Mock Test, Mock
    Test for Class 5 CBSE, CBSE Class 5 Maths Mock Test, CBSE Class 5 Maths Online Test,
    CBSE Class 5 Online Test, CBSE Class 5 Science Mock Test, CBSE Class 5 Science Online
    Test, CBSE Online Test Class 5, Online MCQ Test for Class 5 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 5 ICSE Mock Test, ICSE Class 5 Mock Test, ICSE Mock Test,
    Mock Test Class 5 ICSE, Online Mock Test for Class 5 ICSE, Mock Test ICSE Class 5, Online
    Test for Class 6, Class 6 Math MCQ Online Test, 6th Class Online Test, Online Competitive
    Exam for Class 6, Online Test for Class 6 Maths, Online Test for Class 6 English, 6 Class
    Online Test, 6th Class English Online Test, 6th Class Maths Online Test, 6th Class Mock Test,
    6th Class Online Exam, 6th Class Online Test English, 6th Class Online Test Maths, 6th Class
    Online Test Science, Online MCQ Test for Class 6 Science, Class 6 Maths Test Online, Class 6
    Online Quiz, Class 6 Online Test Maths, Class 6 Online Test Science, Class 6 Social Science
    Online Test, Class 6 SST Online Test, Competitive Exams for Class 6 Online, English Grammar
    Online Test for Class 6, English Online Test Class 6, English Online Test for Class 6, Maths
    Class 6 MCQ Online Test, Maths Class 6 Online Test, Maths Online Quiz for Class 6, Maths
    Test for Class 6 Online, NCERT Class 6 Science Online Test, NCERT Online Test Class 6,
    NCERT Online Test for Class 6 Science, NCERT Science Class 6 Online Test, Online Class 6
    Math Test, Online Class 6 Science Test, Online English Grammar Test for Class 6, Online
    
    Exam of Class 6, Online Grammar Test for Class 6, Online Maths Quiz Class 6, Online Maths
    Quiz for Class 6, Online MCQ Test for Class 6, Online MCQ Test for Class 6 English, Online
    MCQ Test for Class 6 Hindi, Online MCQ Test for Class 6 Maths, Online MCQ Test for Class 6
    Social Science, 6th Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 6 Mock Test, Mock
    Test for Class 6 CBSE, CBSE Class 6 Maths Mock Test, CBSE Class 6 Maths Online Test,
    CBSE Class 6 Online Test, CBSE Class 6 Science Mock Test, CBSE Class 6 Science Online
    Test, CBSE Online Test Class 6, Online MCQ Test for Class 6 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 6 ICSE Mock Test, ICSE Class 6 Mock Test, ICSE Mock Test,
    Mock Test Class 6 ICSE, Online Mock Test for Class 6 ICSE, Mock Test ICSE Class 6, Online
    Test for Class 7, Class 7 Math MCQ Online Test, 7th Class Online Test, Online Competitive
    Exam for Class 7, Online Test for Class 7 Maths, Online Test for Class 7 English, 7 Class
    Online Test, 7th Class English Online Test, 7th Class Maths Online Test, 7th Class Mock Test,
    7th Class Online Exam, 7th Class Online Test English, 7th Class Online Test Maths, 7th Class
    Online Test Science, Online MCQ Test for Class 7 Science, Class 7 Maths Test Online, Class 7
    Online Quiz, Class 7 Online Test Maths, Class 7 Online Test Science, Class 7 Social Science
    Online Test, Class 7 SST Online Test, Competitive Exams for Class 7 Online, English Grammar
    Online Test for Class 7, English Online Test Class 7, English Online Test for Class 7, Maths
    Class 7 MCQ Online Test, Maths Class 7 Online Test, Maths Online Quiz for Class 7, Maths
    Test for Class 7 Online, NCERT Class 7 Science Online Test, NCERT Online Test Class 7,
    NCERT Online Test for Class 7 Science, NCERT Science Class 7 Online Test, Online Class 7
    Math Test, Online Class 7 Science Test, Online English Grammar Test for Class 7, Online
    Exam of Class 7, Online Grammar Test for Class 7, Online Maths Quiz Class 7, Online Maths
    Quiz for Class 7, Online MCQ Test for Class 7, Online MCQ Test for Class 7 English, Online
    MCQ Test for Class 7 Hindi, Online MCQ Test for Class 7 Maths, Online MCQ Test for Class 7
    Social Science, 7th Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 7 Mock Test, Mock
    Test for Class 7 CBSE, CBSE Class 7 Maths Mock Test, CBSE Class 7 Maths Online Test,
    CBSE Class 7 Online Test, CBSE Class 7 Science Mock Test, CBSE Class 7 Science Online
    Test, CBSE Online Test Class 7, Online MCQ Test for Class 7 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 7 ICSE Mock Test, ICSE Class 7 Mock Test, ICSE Mock Test,
    Mock Test Class 7 ICSE, Online Mock Test for Class 7 ICSE, Mock Test ICSE Class 7, Online
    Test for Class 8, Class 8 Math MCQ Online Test, 8th Class Online Test, Online Competitive
    Exam for Class 8, Online Test for Class 8 Maths, Online Test for Class 8 English, 8 Class
    Online Test, 8th Class English Online Test, 8th Class Maths Online Test, 8th Class Mock Test,
    8th Class Online Exam, 8th Class Online Test English, 8th Class Online Test Maths, 8th Class
    Online Test Science, Online MCQ Test for Class 8 Science, Class 8 Maths Test Online, Class 8
    Online Quiz, Class 8 Online Test Maths, Class 8 Online Test Science, Class 8 Social Science
    Online Test, Class 8 SST Online Test, Competitive Exams for Class 8 Online, English Grammar
    Online Test for Class 8, English Online Test Class 8, English Online Test for Class 8, Maths
    Class 8 MCQ Online Test, Maths Class 8 Online Test, Maths Online Quiz for Class 8, Maths
    Test for Class 8 Online, NCERT Class 8 Science Online Test, NCERT Online Test Class 8,
    NCERT Online Test for Class 8 Science, NCERT Science Class 8 Online Test, Online Class 8
    Math Test, Online Class 8 Science Test, Online English Grammar Test for Class 8, Online
    
    Exam of Class 8, Online Grammar Test for Class 8, Online Maths Quiz Class 8, Online Maths
    Quiz for Class 8, Online MCQ Test for Class 8, Online MCQ Test for Class 8 English, Online
    MCQ Test for Class 8 Hindi, Online MCQ Test for Class 8 Maths, Online MCQ Test for Class 8
    Social Science, 8th Standard Online Test, School Exam Preparation, School Exams, School
    Live Test, State Board School Exams, CBSE School Exam, CBSE Class 8 Mock Test, Mock
    Test for Class 8 CBSE, CBSE Class 8 Maths Mock Test, CBSE Class 8 Maths Online Test,
    CBSE Class 8 Online Test, CBSE Class 8 Science Mock Test, CBSE Class 8 Science Online
    Test, CBSE Online Test Class 8, Online MCQ Test for Class 8 CBSE Science, ICSE School
    Exam, ICSE Mock Test, Class 8 ICSE Mock Test, ICSE Class 8 Mock Test, ICSE Mock Test,
    Mock Test Class 8 ICSE, Online Mock Test for Class 8 ICSE, Mock Test ICSE Class 8">
    <link rel="canonical" href="https://firstedu.co.in/school" />
{% endblock metadetails %}
{% block content %}
<section class="section_class-banner bgs-lightblue py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <h2 class="test-bold fs-40 font-size cl-darkblue">Classes</h2>
                <p class="cl-blue-1 fs-15 py-4 right-padding">All papers are designed to improve your academic prowess.</p>
                <a href="#viewClass" class="text-white fs-15 bgs-black decrt-none px-5 d-inline-block py-2 lh-35 landing-links">View
                    Class
                    <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                        height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                        <path id="arrow-color" data-name="Path 3"
                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                            transform="translate(-3.278 -102.821)" fill="#fff"></path>
                    </svg></a>
            </div>
            <div class="col-lg-6 about-banner text-lg-right text-center">
                <img src="{% static 'images\test-banner.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="section_home-olympiad-test py-3 py-sm-5" id="viewClass">
    <div class="container">
        <div class="text-center">
            <h2 class=" test-bold head-size fs-45 cl-black pb-1 lh-55">All Classes</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-lg-1  pb-lg-4">Practice papers are totally concept-based papers to enhance the efficiency of the students.</p>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-lg-1  pb-lg-4">We have done enormous study to design all practice papers in such a way that students from any board [ICSE, CBSE, ICS, STATE, IB, etc.] can attempt the papers to get excellent grasp and concept in the subject.</p>
        </div>
        <div class="d-flex justify-content-end py-4">
            <select class="form-control" id="classDropDown">
                <option selected disabled>Select Class</option>
                <option value="popular" >Popular</option>
                {% for obj in objs %}
                <option value={{obj.id}} >{{obj.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row pt-3" id = "classContainer">

            {% for obj in objs %}
            <div class="col-md-6 pb-4 mb-md-2">
                <div class="card card-over mb-2">
                    <div class="card-body">
                    <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Subjects : <span class="test-bold">{{obj.assigned_subjects.count}}</span></p>
                        <h5 class="test-semibold  fs-18 cl-black">{{obj.title}}</h5>
                        <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">{{obj.description}}</p>
                        <div class="d-xl-flex justify-content-between  align-items-center">
                        <a href="{% url 'application:school_paper_wise' %}?class={{obj.id}}" class="fs-15 test-bold cl-blue view-button mr-2 mr-xl-3 d-inline-block mb-2">Buy Paperwise</a>
                        <a class="home-btn-olympiad decrt-none fs-15  cl-black bgs-yellow test-semibold" href="{% url 'application:school_subject_wise' obj.id %}">Buy Subjectwise
                         <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                             <path id="btn-olympiad-size" data-name="Path 3" d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z" transform="translate(-3.278 -102.821)" fill="#fff"></path>
                         </svg></a>
                        <a href="{% url 'application:checkout' obj.id %}?type=class" class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Class
                            <span class="arrow-spacing"></span>
                            <svg xmlns="http://www.w3.org/2000/svg"  width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622"><path id="arrow-color" data-name="Path 3"
                                        d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                        transform="translate(-3.278 -102.821)" fill="#fff" />
                            </svg>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
<section class="section_home-we-offer bgs-lightblue py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6 col-12 align-self-center">
                <h2 class="test-bold fs-45  head-size cl-black  pb-md-3 lh-55">What we offer</h2>
                <ul style = "padding-left: 30px;">
                    <li>School exams</li>
                    <li>Competitive exams</li>
                    <li>Events</li>
                    <li>Olympiads</li>
                </ul>
            </div>

            <div class="col-lg-6 col-12 pt-lg-0 pt-3 text-center text-lg-left">
                <img src="{% static 'images/we_offer_img.jpg' %}" class="img-fluid we-offer-img  ml-xl-5" alt="Los Angeles">
            </div>
        </div>
    </div>
</section>
<section class="section_home-frequnt-questions pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="test-bold fs-35 head-size cl-black pb-2 pt-3 lh-55">Frequently Asked Question</h2>
                <div id="sections_courselanding-faq" class="section_courselanding-faq bgs-light">
                    <div class="accordion" id="category_1">
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue " id="category1_one">
                                <a href="#" class="btn-header-link decrt-none " data-toggle="collapse"
                                    data-target="#category1-1" aria-expanded="true" aria-controls="category1-1">
                                    <p class="fs-15 test-medium radius cl-black  pl-5 pr-5 py-3 mb-0">Why should I take exams?</P>
                                </a>
                                <div id="category1-1" class="collapse show" aria-labelledby="category1_one"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">
                                            Exams are imperative and plays crucial role in overall development of individual. It plays an important role in the process of learning by assessing the knowledge of students and at the same time exposing their strengths and weaknesses. Therefore, always take exams to evaluate yourself.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_two">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-2" aria-expanded="true" aria-controls="category1-2">
                                    <p class="fs-15 test-medium  cl-black pl-5 pr-5 py-3 mb-0">Why FirstEdu exams?</P>
                                </a>


                                <div id="category1-2" class="collapse" aria-labelledby="category1_two"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu exams are spread over wide range of subjects and topics. It tries to cover the areas which are trending in all competitive papers thereby preparing the students to tackle any exams in the world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_three">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-3" aria-expanded="true" aria-controls="category1-3">
                                    <p class="fs-15 test-medium  cl-black  pl-5 pr-5 py-3 mb-0">Who can take the exams</P>
                                </a>


                                <div id="category1-3" class="collapse" aria-labelledby="category1_three"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">Any individual can take exams based on his/her requirement. Students can take school based practice papers or skill based competitive exams to sharpen their skills and become masters of their subjects.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_four">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-4" aria-expanded="true" aria-controls="category1-4">
                                    <p class="fs-15 test-medium cl-black  pl-5 pr-5 py-3 mb-0">What are FirstEdu Olympiads</P>
                                </a>


                                <div id="category1-4" class="collapse" aria-labelledby="category1_four"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu Olympiads are specially
                                            designed exams to find young geniuses
                                            across the world. These exams
                                            inculcates logical thinking ability,
                                            scientific temperament and application
                                            of concepts in wider sense.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_five">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-5" aria-expanded="true" aria-controls="category1-5">
                                    <p class="fs-15 test-medium cl-black  pl-5 pr-5 py-3 mb-0">What are FirstEdu events</P>
                                </a>


                                <div id="category1-5" class="collapse" aria-labelledby="category1_five"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu events are designed for
                                            improving skills of students in extra-
                                            curricular activities like writing,
                                            speaking, spelling, drawing etc. which
                                            are equally important for overall
                                            development of an individual.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center questions-banner-img">
                <img src="{% static 'images\ask-questions.png' %}" class="img-fluid img-left questions-img " alt="Los Angeles">
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
<script>

    $("#classDropDown").change(function(){
        var choosedClass = $(this).val();


        $.ajax({
            type: 'post',
            headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            },
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                choosedClass:choosedClass
            },
            dataType: 'json',
            success: function (response) {
                if (response.data){
                    var parsedData = JSON.parse(response.data);
                    $("#classContainer").empty();
                    for (var i = 0; i < parsedData.length; i++){
                        var div = `
                            <div class="col-md-6 pb-4 mb-md-2">
                                <div class="card card-over mb-2">
                                    <div class="card-body">
                                    <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Subjects : <span class="test-bold">${parsedData[i].fields.assigned_subjects.length}</span></p>
                                        <h5 class="test-semibold  fs-18 cl-black">${parsedData[i].fields.title}</h5>
                                        <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">${parsedData[i].fields.description}</p>
                                        <div class="d-xl-flex justify-content-between  align-items-center">
                                        <a href="/papers?class=${parsedData[i].pk}" class="fs-15 test-bold cl-blue view-button mr-2 mr-xl-3 d-inline-block mb-2">Buy Paperwise</a>
                                        <a class="home-btn-olympiad decrt-none fs-15  cl-black bgs-yellow test-semibold" href="/subject-${parsedData[i].pk}">Buy Subjectwise
                                        <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                            <path id="btn-olympiad-size" data-name="Path 3" d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z" transform="translate(-3.278 -102.821)" fill="#fff"></path>
                                        </svg></a>
                                        <a href="/checkout/${parsedData[i].pk}?type=class" class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Class
                                            <span class="arrow-spacing"></span>
                                            <svg xmlns="http://www.w3.org/2000/svg"  width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622"><path id="arrow-color" data-name="Path 3"
                                                        d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                        transform="translate(-3.278 -102.821)" fill="#fff" />
                                            </svg>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `
                        $("#classContainer").append(div);
                    }
                }
                else{
                    var div = `<div class="col-md-6 pb-4 mb-md-2">
                        <div class="card card-over mb-2">
                            <div class="card-body">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Subjects : <span class="test-bold">${response["subjects_count"]}</span></p>
                                <h5 class="test-semibold  fs-18 cl-black">${response["title"]}</h5>
                                <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">${response["description"]}</p>
                                <div class="d-xl-flex justify-content-between  align-items-center">
                                <a href="${response["buyPaperWise"]}" class="fs-15 test-bold cl-blue view-button mr-2 mr-xl-3 d-inline-block mb-2">Buy Paperwise</a>
                                <a class="home-btn-olympiad decrt-none fs-15  cl-black bgs-yellow test-semibold" href="${response["buySubjectWise"]}">Buy Subjectwise
                                 <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                     <path id="btn-olympiad-size" data-name="Path 3" d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z" transform="translate(-3.278 -102.821)" fill="#fff"></path>
                                 </svg></a>
                                <a href="${response['buyClass']}" class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Class
                                    <span class="arrow-spacing"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg"  width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622"><path id="arrow-color" data-name="Path 3"
                                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                transform="translate(-3.278 -102.821)" fill="#fff" />
                                    </svg>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    $("#classContainer").empty();
                    $("#classContainer").append(div);
                }
            },
            error: function(response) {
               alert("Something Wrong");
            }
        });
    });


</script>



{% endblock script %}





