{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_subject-banner bgs-lightblue py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <h2 class="test-bold fs-40 font-size cl-darkblue">{{class.title}}</h2>
                <p class="cl-blue-1 fs-15 py-4 right-padding">{{class.description}}</p>
                <a href="#viewSubject"
                    class="text-white fs-15 bgs-black decrt-none px-5 d-inline-block py-2 lh-35 landing-links">View
                    Subjects
                    <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                        height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                        <path id="arrow-color" data-name="Path 3"
                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                            transform="translate(-3.278 -102.821)" fill="#fff"></path>
                    </svg></a>
                    <a href="{% url 'application:checkout' class_id %}?type=class"
                    class="text-white fs-15 bgs-dark decrt-none px-5 d-inline-block py-2 lh-35 ml-2">Buy All Subjects
                    <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"                        height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                        <path id="arrow-color" data-name="Path 3"
                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                            transform="translate(-3.278 -102.821)" fill="#fff"></path>
                    </svg></a>
            </div>
            <div class="col-lg-6 about-banner text-lg-right text-center">
                <img src="{% static '\images\test-banner.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="section_home-olympiad-test py-3 py-sm-5" id="viewSubject">
    <div class="container">
        <div class="text-center">
            <h2 class=" test-bold head-size fs-45 cl-black pb-1 lh-55">All Subjects</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-lg-1  pb-lg-4">Practice papers are totally concept-based papers to enhance the efficiency of the students.</p>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-lg-1  pb-lg-4">We have done enormous study to design all practice papers in such a way that students from any board [ICSE, CBSE, ICS, STATE, IB, etc.] can attempt the papers to get excellent grasp and concept in the subject.</p>
        </div>
        <div class="d-flex justify-content-end py-4">
            <select class="form-control" id="dropDown">
                <option selected disabled>Select Subject</option>
                {% for obj in subjects %}
                <option value="{{obj.id}}" >{{obj.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row pt-3" id="classContainer">

            {% for obj in subjects %}
            <div class="col-md-6 pb-4 mb-md-2">
                <div class="card card-over mb-2">
                    <div class="card-body">
                        <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Papers : <span class="test-bold">{{obj.assigned_papers.count}}</span></p>
                        <h5 class="test-semibold  fs-18 cl-black">{{obj.title}}</h5>
                        <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">{{obj.description}}</p>
                        <div class="row align-items-center">
                            <div class="col-sm-4 col-md-12 col-lg-4 pr-0">
                                <p class="test-semibold mb-2 d-inline-block fs-18 cl-black">&#x20b9; {{obj.price}}</p>
                            </div>
                            <div
                                class="col-sm-8 col-md-12 col-lg-8 enroll-center pl-lg-0 d-flex justify-content-between justify-content-lg-end align-items-center">
                                <a href="{% url 'application:school_paper_wise' %}?class={{class_id}}" class="mb-2 d-inline-block fs-15 test-bold cl-dark view-button mr-2 mr-xl-3">Buy Paperwise</a>
                                <a href="{% url 'application:checkout' obj.id %}?type=subject" class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Now
                                    <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                        <path id="arrow-color" data-name="Path 3"
                                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                            transform="translate(-3.278 -102.821)" fill="#fff" />
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section_home-we-offer bgs-lightblue py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6 col-12 align-self-center">
                <h2 class="test-bold fs-45  head-size cl-black  pb-md-3 lh-55">What we offer</h2>
                <p class="fs-15 cl-dark  pr-lg-5">At <span style = "font-weight: bold; color: #000">FirstEdu</span> we offer-</p>
                <ul style = "padding-left: 30px;">
                    <li>Perfection</li>
                    <li>Confidence</li>
                    <li>A clear concept</li>
                    <li>Efficiency</li>
                    <li>Excellence</li>
                    <li>Open mind- to think high</li>
                    <li>Speed</li>
                    <li>Aptitude</li>
                    <li>Altitude</li>
                    <li>Happiness</li>
                </ul>
            </div>

            <div class="col-lg-6 col-12 pt-lg-0 pt-3 text-center text-lg-left">
                <img src="{% static '\images\we-offer.png' %}" class="img-fluid we-offer-img  ml-xl-5" alt="Los Angeles">
            </div>
        </div>
    </div>
</section>
<section class="section_home-frequnt-questions pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="test-bold fs-35 head-size cl-black pb-2 pt-3 lh-55">Frequently Asked Question</h2>
                <div id="sections_courselanding-faq" class="section_courselanding-faq bgs-light">
                    <div class="accordion" id="category_1">
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue " id="category1_one">
                                <a href="#" class="btn-header-link decrt-none " data-toggle="collapse"
                                    data-target="#category1-1" aria-expanded="true" aria-controls="category1-1">
                                    <p class="fs-15 test-medium radius cl-black  pl-5 pr-5 py-3 mb-0">Why should I take exams?</P>
                                </a>
                                <div id="category1-1" class="collapse show" aria-labelledby="category1_one"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">
                                            Exams are imperative and plays crucial role in overall development of individual. It plays an important role in the process of learning by assessing the knowledge of students and at the same time exposing their strengths and weaknesses. Therefore, always take exams to evaluate yourself.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_two">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-2" aria-expanded="true" aria-controls="category1-2">
                                    <p class="fs-15 test-medium  cl-black pl-5 pr-5 py-3 mb-0">Why FirstEdu exams?</P>
                                </a>


                                <div id="category1-2" class="collapse" aria-labelledby="category1_two"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu exams are spread over wide range of subjects and topics. It tries to cover the areas which are trending in all competitive papers thereby preparing the students to tackle any exams in the world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_three">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-3" aria-expanded="true" aria-controls="category1-3">
                                    <p class="fs-15 test-medium  cl-black  pl-5 pr-5 py-3 mb-0">Who can take the exams</P>
                                </a>


                                <div id="category1-3" class="collapse" aria-labelledby="category1_three"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">Any individual can take exams based on his/her requirement. Students can take school based practice papers or skill based competitive exams to sharpen their skills and become masters of their subjects.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_four">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-4" aria-expanded="true" aria-controls="category1-4">
                                    <p class="fs-15 test-medium cl-black  pl-5 pr-5 py-3 mb-0">What are FirstEdu Olympiads</P>
                                </a>


                                <div id="category1-4" class="collapse" aria-labelledby="category1_four"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu Olympiads are specially
                                            designed exams to find young geniuses
                                            across the world. These exams
                                            inculcates logical thinking ability,
                                            scientific temperament and application
                                            of concepts in wider sense.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card pb-3">
                            <div class="card-header bgs-lightblue" id="category1_five">
                                <a href="#" class="btn-header-link collapsed decrt-none" data-toggle="collapse"
                                    data-target="#category1-5" aria-expanded="true" aria-controls="category1-5">
                                    <p class="fs-15 test-medium cl-black  pl-5 pr-5 py-3 mb-0">What are FirstEdu events</P>
                                </a>


                                <div id="category1-5" class="collapse" aria-labelledby="category1_five"
                                    data-parent="#category_1">
                                    <div class="card-body">
                                        <p class="fs-15 cl-dark pl-5 pr-5">FirstEdu events are designed for
                                            improving skills of students in extra-
                                            curricular activities like writing,
                                            speaking, spelling, drawing etc. which
                                            are equally important for overall
                                            development of an individual.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center questions-banner-img">
                <img src="{% static '\images\ask-questions.png' %}" class="img-fluid img-left questions-img " alt="Los Angeles">
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script %}
<script>

    $("#dropDown").change(function(){
        var choosedClass = $(this).val();


        $.ajax({
            type: 'post',
            headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            },
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                choosedClass:choosedClass
            },
            dataType: 'json',
            success: function (response) {
                $("#classContainer").empty();


                var div = `<div class="col-md-6 pb-4 mb-md-2">
                    <div class="card card-over mb-2">
                        <div class="card-body">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Papers : <span class="test-bold">${response["counts"]}</span></p>
                            <h5 class="test-semibold  fs-18 cl-black">${response["title"]}</h5>
                            <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">${response["description"]}</p>
                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12 col-lg-4 pr-0">
                                    <p class="test-semibold mb-2 d-inline-block fs-18 cl-black">&#x20b9; ${response["price"]}</p>
                                </div>                                              
                                <div
                                    class="col-sm-8 col-md-12 col-lg-8 enroll-center pl-lg-0 d-flex justify-content-between justify-content-lg-end align-items-center">
                                    <a href="${response["buyPaperWise"]}" class="mb-2 d-inline-block fs-15 test-bold cl-dark view-button mr-2 mr-xl-3">Buy Paperwise</a>
                                    <a href="${response["buyClass"]}" class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Now
                                        <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                            <path id="arrow-color" data-name="Path 3"
                                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                transform="translate(-3.278 -102.821)" fill="#fff" />
                                        </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
                $("#classContainer").append(div);

            },
            error: function(response) {
               alert("Something Wrong");
            }
        });
    });


</script>



{% endblock script %}
