
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="test-bold fs-35  head-size-1 cl-black lh-55 mb-3">Terms and conditions</h2>
                <p class="cl-grey-1  fs-15 my-4">Welcome to firstedu.co.in (hereinafter referred to as “Platform” or “Website” or “Site” or “we” or
                    “us”). The Platform is offered to you conditioned on your acceptance without modification of the
                    terms, conditions, and notices contained herein (the “Terms and Conditions” or &quot;Terms&quot; or “ User
                    Agreement” or “Agreement”). Your use of our Platform constitutes your agreement to all such
                    Terms.
                </p>
                <p class="cl-grey-1  fs-15 my-4">Our Platform provides National and International level online exams or tests, study material and
                    other solutions for to the students and others (hereinafter referred to as the “Users” or “You” or
                    “Your”) and provide Awards &amp; Recognitions to motivate the Users (hereinafter referred to as the
                    “Services”).
                </p>
                <p class="cl-grey-1  fs-15 my-4">By using the Platform, you agree to comply with and be legally bound by the Terms. These Terms
                    govern your access to and use of the Platform and Services and all Collective Content, and constitute
                    a binding legal agreement between you and us.
                </p>
                <p class="cl-grey-1  fs-15 my-4">Please read carefully these Terms and our Privacy Policy, which can be found on our platform and is
                    incorporated by reference into these Terms. If you do not agree to these Terms, you have no right to
                    obtain information from or otherwise continue using the Platform. Failure to use the Platform in
                    accordance with these Terms may subject you to civil and criminal penalties.
                </p>
                <p class="cl-grey-1  fs-15 my-4">This Platform reserves the right to recover the cost of services, collection charges and lawyers’ fees
                    from persons using the Platform fraudulently. This Platform reserves the right to initiate legal
                    proceedings against such persons for fraudulent use of the Platform and any other unlawful acts or
                    acts or omissions in breach of these terms and conditions.
                </p>
                <p class="cl-grey-1  fs-15 my-4">PLEASE READ THESE TERMS CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION
                    REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS
                    LIMITATIONS AND EXCLUSIONS, AND A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE
                    OF DISPUTES.
                </p>
                <p class="cl-grey-1  fs-15 my-4">IN USING THIS PLATFORM, YOU ARE DEEMED TO HAVE READ AND AGREED TO THE FOLLOWING
                    TERMS AND CONDITIONS SET FORTH HEREIN. ANY INCIDENTAL DOCUMENTS AND LINKS
                    MENTIONED SHALL BE CONSIDERED TO BE ACCEPTED JOINTLY WITH THESE TERMS. YOU AGREE
                    TO USE THE PLATFORM ONLY IN STRICT INTERPRETATION AND ACCEPTANCE OF THESE TERMS
                    AND ANY ACTIONS OR COMMITMENTS MADE WITHOUT REGARD TO THESE TERMS SHALL BE AT
                    
                    YOUR OWN RISK. THESE TERMS AND CONDITIONS FORM PART OF THE AGREEMENT BETWEEN
                    THE USERS AND US. BY ACCESSING THIS PLATFORM, AND/OR UNDERTAKING TO PERFORM A
                    SERVICE BY US INDICATES YOUR UNDERSTANDING, AGREEMENT TO AND ACCEPTANCE, OF THE
                    DISCLAIMER NOTICE AND THE FULL TERMS AND CONDITIONS CONTAINED HEREIN.</p>

                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">1. DEFINITIONS AND INTERPRETATION:</h4>
                
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>&quot;Agreement&quot; means the terms and conditions as detailed herein including all Exhibits,
                        privacy policy, disclaimer and other policies mentioned on the Platform and will include the
                        references to this agreement as amended, negated, supplemented, varied or replaced from
                        time to time.</li>
                    <li>“Account” means the accounts created by the users on our Platform in order to use the
                        services of the Platform.</li>
                    <li>“Content” means exams, text, graphics, images, music, audio, video, information or other
                        materials provided on the platform.</li>
                    <li>“Student” means any individual or person who has registered on the portal for attending or
                        seeking to enroll in the test or exam or any other services provided by the portal.</li>
                    <li>“User content” or “User Data means all Contents and data that a user posts, uploads,
                        publishes, submits or transmits to be made available through our Platform.</li>
                    <li>The official language of these terms shall be English.</li>
                    <li>The headings and sub-headings are merely for convenience purpose and shall not be used
                        for interpretation.</li>
                </ol>

                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">2. ELIGIBILITY:</h4>
                
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>Use of the Platform is available only to persons who can form legally binding contracts
                        under applicable law. If you are a minor i.e. under the age of 18 years, will be able to use the
                        Platform under the supervision of your parents.</li>
                    <li>You represent that you have the authority to bind to this User Agreement.</li>
                    <li>“Content” means exams, text, graphics, images, music, audio, video, information or other
                        materials provided on the platform.</li>
                    <li>You are of healthy and sound mind</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">3. REGISTRATION:</h4>
                
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>It is mandatory for users to register on our Platform by setting up User Profile to use our
                        services after payment of requisite fees pursuant to clause 4 of the Terms.</li>
                    <li>In order to register with us, the Users will have to provide a valid email id and various
                        details such as Name, Parent’s Name, Class, School or College or Competitive, Address etc.</li>
                    <li>You represent and warrant that all required registration information you submit is true and
                        accurate, and you will maintain the accuracy of such information. You are responsible for
                        maintaining the confidentiality of your Account login information and are fully responsible
                        for all activities that occur under your Account. You agree to immediately notify us of any
                        unauthorized use, or suspected unauthorized use of your Account or any other breach of
                        security. Our Platform cannot and will not be liable for any loss or damage arising from your
                        failure to comply with the above requirements. You must not share your password or other
                        access credentials with any other person or entity that is not authorized to access your
                        account. Without limiting the foregoing, you are solely responsible for any activities or
                        actions that occur under your Platform account access credentials. We encourage you to use
                        a “strong” password (a password that includes a combination of upper and lower case
                        letters, numbers, and symbols) with your account. We cannot and will not be liable for any
                        loss or damage arising from your failure to comply with any of the above.</li>
                    <li>You agree to provide and maintain accurate, current and complete information about your
                        Account. Without limiting the foregoing, in the event you change any of your personal
                        information as mentioned above in this Agreement, you will update your Account
                        information promptly.</li>
                    <li>When creating an Account, don’t:
                        <ol class="cl-grey-1" style = "padding-left: 30px;" type="a">
                            <li>Provide any false personal information to us (including without limitation a false username)
                                or create any Account for anyone other than yourself without such other person’s
                                permission;</li>
                            <li>Use a username that is the name of another person with the intent to impersonate that
                                person;</li>
                            <li>Use a username that is subject to rights of another person without appropriate
                                authorization; or</li>
                            <li>Use a username that is offensive, vulgar or obscene or otherwise derogatory.</li>
                        </ol>
                    </li>
                    <li>We reserve the right to suspend or terminate your Account if any information provided
                        during the registration process or thereafter proves to be inaccurate, false or misleading
                        and violates our Terms. If you have reason to believe that your Account is no longer secure,
                        then you must immediately notify us at info@firstedu.co.in.</li>
                    <li>You may not transfer or sell your account and User ID to another party. If you are
                        registering as a business entity, you personally guarantee that you have the authority to
                        bind the entity to this Agreement.</li>
                    <li>Our Services are not available to temporarily or indefinitely suspended members.
                        Our Platform reserves the right, in its sole discretion, to cancel unconfirmed or inactive
                        accounts. Our Platform reserves the right to refuse service to anyone, for any reason, at any
                        time.</li>
                    <li>One individual can own only one account in his/her name.</li>
                    <li>You agree to comply with all local laws regarding online conduct and acceptable content.
                        You are responsible for all Applicable taxes. In addition, you must abide by our Platform’s
                        policies as stated in the Agreement and the Platform policy documents published on the
                        Platform as well as all other operating rules, policies and procedures that may be published
                        from time to time on the Platform by Company.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">4. PAYMENT</h4>
                
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>The User shall make the payment to avail the services through the payment gateway
                        integrated to our Platform.</li>
                    <li>The User agrees and acknowledges to make the payment subject to the applicable fees,
                        transactional charges and taxes and to shall abide with additional terms specific to the
                        Services.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">5. YOU AGREE AND CONFIRM:</h4>
                
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>That you will use the services provided by our Platform, its affiliates and contracted
                        companies, for lawful purposes only and comply with all Applicable laws and regulations
                        while using the Platform and transacting on the Platform.</li>
                    <li>You will provide authentic and true information in all instances where such information is
                        requested of you. We reserve the right to confirm and validate the information and other
                        details provided by you at any point of time. If upon confirmation your details are found not
                        to be true (wholly or partly), we have the right in our sole discretion to reject the
                        registration and debar you from using the Services of our Platform and / or other affiliated
                        Platforms without prior intimation whatsoever.</li>
                    <li>That you are accessing the services available on this Platform and transacting at your sole
                        risk and are using your best and prudent judgment before entering into any transaction
                        through this Platform. It is possible that the other users (including unauthorized/unregistered
                        users or &quot;hackers&quot;) may post or transmit offensive or obscene materials on the Platform and
                        that you may be involuntarily exposed to such offensive and obscene materials. It also is
                        possible for others to obtain personal information about you due to your use of the Platform,
                        
                        and that the recipient may use such information to harass or injure you. We do not approve of
                        such unauthorized uses, but by using the Platform you acknowledge and agree that we are not
                        responsible for any unauthorize use of your personal information that you publicly disclose or
                        share with others on this Platform. Please carefully select the type of information that you
                        publicly disclose or share with others on the Platform.</li>
                    <li>You agree that you will not:
                        <ol class="cl-grey-1" style = "padding-left: 30px;" type="a">
                            <li>Restrict or inhibit any other user from using and enjoying the Interactive Features;</li>
                            <li>Post or transmit any unlawful, threatening, abusive, libelous, defamatory, obscene, vulgar,
                                pornographic, profane, or indecent information of any kind, including without limitation any
                                transmissions constituting or encouraging conduct that would constitute a criminal offense,
                                give rise to civil liability or otherwise violate any local, state, national, or international law;</li>
                            <li>Post or transmit any information, software, or other material which violates or infringes in
                                the rights of others, including material which is an invasion of privacy or publicity rights or
                                which is protected by copyright, trademark or other proprietary right, or derivative works
                                with respect thereto, without first obtaining permission from the owner or right holder.</li>
                            <li>Post or transmit any information, software or other material which contains a virus or other
                                harmful component;</li>
                            <li>Alter, damage or delete any Content or other communications that are not your own Content
                                or to otherwise interfere with the ability of others to access our Platform</li>
                            <li>Disrupt the normal flow of communication in an Interactive Area;</li>
                            <li>Claim a relationship with or to speak for any business, association, institution or other
                                organization for which you are not authorized to claim such a relationship;</li>
                            <li>Violate any operating rule, policy or guideline of your Internet access provider or online
                                service.</li>
                        </ol>
                    </li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">7. YOU MAY NOT USE THE PLATFORM FOR ANY OF THE FOLLOWING PURPOSES:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>Disseminating any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar,
                        obscene, or otherwise objectionable material.</li>
                    <li>Transmitting material that encourages conduct that constitutes a criminal offense, results in
                        civil liability or otherwise breaches any relevant laws, regulations or code of practice.</li>
                    <li>Interfering with any other person&#39;s use or enjoyment of the Platform.</li>
                    <li>Breaching any Applicable laws;</li>
                    <li>Interfering or disrupting networks or web Platforms connected to the Platform.</li>
                    <li>Making, copying, transmitting, or storing electronic copies of materials or content which is
                        protected by copyright without the permission of the owner. and using such material or
                        content for any financial gain or otherwise</li>
                    <li>Without limiting other remedies, we may, in our sole discretion, limit, suspend, or terminate
                        our services and user accounts, prohibit access to our Platforms, services, Platforms, and
                        tools, and their content, delay or remove hosted content, and take technical and legal steps
                        to keep users from using our Platforms, services, Platforms, or tools, if we think that they
                        are creating problems or possible legal liabilities, infringing the intellectual property rights
                        of third parties, or acting inconsistently with the letter or spirit of our policies. We also
                        reserve the right to cancel unconfirmed accounts or accounts that have been inactive for a
                        period of months, or to modify or discontinue our Platform, services</li>
                    <li>Further we prohibits the transmission, distribution or posting of any matter which
                        discloses personal or private information concerning any person or entity, including
                        without limitation phone number(s) or addresses, credit debit cards, calling card, User
                        account numbers/ passwords or similar financial information, and home phone numbers or
                        addresses. Even though all of this is strictly prohibited, there is a small chance that you
                        might become exposed to such items and you further waive your right to any damages
                        (from any party) related to such exposure.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">8. MODIFICATION:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>We may at any time modify the Terms, Privacy Policy and other Policies of the Platform or
                        the services or the pricing or terminate the entire or any part of the Platform or Services
                        without any prior notification to you. You can access the latest version of the User
                        Agreement at any given time on our Platform. You should regularly review the on our
                        Platform. In the event the modified Terms is not acceptable to you, you should discontinue
                        using the service. However, if you continue to use the service you shall be deemed to have
                        agreed to accept and abide by the modified Terms of this Platform.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">9. REVIEWS, FEEDBACK, SUBMISSIONS:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>All reviews, comments, feedback, postcards, suggestions, ideas, and other submissions
                        disclosed, submitted or offered to us on or by this Platform or otherwise disclosed,
                        submitted or offered in connection with your use of this Platform (collectively, the
                        &quot;Comments&quot;) shall be and remain our property. Such disclosure, submission or offer of any
                        Comments shall constitute an assignment to us of all worldwide rights, titles and interests
                        in all copyrights and other intellectual properties in the Comments. Thus, we exclusively
                        
                        own all such rights, titles and interests and shall not be limited in any way in its use,
                        commercial or otherwise, of any Comments. We will be entitled to use, reproduce, disclose,
                        modify, adapt, create derivative works from, publish, display and distribute any Comments
                        you submit for any purpose whatsoever, without restriction and without compensating you
                        in any way.</li>
                    <li>We are and shall be under no obligation (1) to maintain any Comments in confidence; (2) to
                        pay you any compensation for any Comments; or (3) to respond to any Comments. You
                        agree that any Comments submitted by you to the Platform will not violate this policy or
                        any right of any third party, including copyright, trademark, privacy or other personal or
                        proprietary right(s), and will not cause injury to any person or entity. You further agree that
                        no Comments submitted by you to the Platform will be or contain libelous or otherwise
                        unlawful, threatening, abusive or obscene material, or contain software viruses, political
                        campaigning, commercial solicitation, chain letters, mass mailings or any form of &quot;spam&quot;.</li>
                    <li>Our Platform does not regularly review posted Comments, but does reserve the right (but
                        not the obligation) to monitor and edit or remove any Comments submitted to the Platform.
                        You grant us the right to use the name that you submit in connection with any Comments.
                        You agree not to use a false email address, impersonate any person or entity, or otherwise
                        mislead as to the origin of any Comments you submit. You are and shall remain solely
                        responsible for the content of any Comments you make and you agree to indemnify us and
                        our affiliates for all claims resulting from any Comments you submit. We and our affiliates
                        take no responsibility and assume no liability for any Comments submitted by you or any
                        third party.</li>
                    <li>Any photos you submit must be:
                        <ul class="cl-grey-1" style = "padding-left: 30px;" >
                            <li>Community/family friendly - 
                                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                                    <li>Do not submit any photos or materials that are illegal, obscene,
                                        pornographic, profane, vulgar, offensive or insulting.</li>
                                    <li>Do not submit photos or materials that invade the privacy or violate any
                                        personal right of any person or entity.</li>
                                </ol>
                            </li>
                            <li>Original - You may only submit your own photos. Do not submit photos from any other
                                source (personal or commercial). Do not submit photos that infringe the copyright,
                                trademark, or other property right of any third party.</li>
                            <li>Non-commercial - Do not submit photos that include logos, branding, promotional
                                material, or any other content intended for commercial purposes.</li>
                            <li>No harmful files - Do not submit photos that contain viruses or other harmful code that is
                                either intended or may result in damage to the computers and systems of our Platform or
                                users.</li>
                        </ul>
                    </li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">10. COPYRIGHT &amp; TRADEMARK:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>Our Platform and its licensors expressly reserve all intellectual property rights in all text,
                        programs, products, processes, technology, content and other materials, which appear on
                        this Platform. Access to this Platform does not confer and shall not be considered as
                        conferring upon anyone any license under any of our third party&#39;s intellectual property
                        rights. All rights, including copyright, in this Platform are owned by or licensed to us or
                        third party suppliers. Any use of this Platform or its contents, including copying or storing it
                        or them in whole or part, is strictly prohibited. You cannot modify, distribute or re-post
                        anything on this Platform for any purpose.</li>
                    <li>The names and logos and all related product and service and our slogans are the
                        trademarks or service marks are owned by us. All other marks are the property of their
                        respective companies. No trademark or service mark license is granted in connection with
                        the materials contained on this Platform. Access to this Platform does not authorize anyone
                        to use any name, logo or mark in any manner.</li>
                    <li>All materials, including images, tests, exams, text, illustrations, designs, icons, photographs,
                        programs, music clips or downloads, video clips and written and other materials that are
                        part of this Platform (collectively, the &quot;Contents&quot;) are intended solely for personal, non-
                        commercial use. You may download only downloadable materials displayed on the Platform
                        for your personal use only. No right, title or interest in any downloaded materials or
                        software is transferred to you as a result of any such downloading or copying. You may not
                        reproduce (except as noted above), publish, transmit, distribute, display, modify, create
                        derivative works from, sell or participate in any sale of or exploit in any way, in whole or in
                        part, any of the Contents, the Platform or any related software. All software used on this
                        Platform is the property of our Platform or its suppliers and protected by the laws of India.
                        The Contents and software on this Platform may be used only as a shopping resource. Any
                        other use, including the reproduction, modification, distribution, transmission,
                        republication, display, or performance, of the Contents on this Platform is strictly
                        prohibited. Unless otherwise noted, all Contents are copyrights, trademarks and/or other
                        intellectual property owned, controlled or licensed by our Platform, one of its affiliates or by
                        third parties who have licensed their materials to us and are protected by the laws of India.
                        
                        The compilation (meaning the collection, arrangement, and assembly) of all Contents on
                        this Platform is the exclusive property of our Platform and is also protected by the laws of
                        India.</li>
                    <li>If you learn of any unlawful material or activity on our Platform, or any material or activity
                        that breaches this notice, please inform us. We respect the intellectual property rights of
                        others and expect users of the Services to do the same. We will respond to notices of alleged
                        copyright infringement that comply with Applicable law and are promptly and properly
                        provided to us. If you have a reason to believe that Your Content has been copied in a way
                        that constitutes copyright infringement, please provide us with the following information:
                        <ol class="cl-grey-1" style = "padding-left: 30px;" type="a">
                            <li>a physical or electronic signature of the copyright owner or a person authorized to act on
                                their behalf;</li>
                            <li>identification of the copyrighted work claimed to have been infringed;</li>
                            <li>identification of the material that is claimed to be infringing or to be the subject of infringing
                                activity and that is to be removed or access to which is to be disabled, and information
                                reasonably sufficient to permit us to locate the material;</li>
                            <li>Your contact information, including your address, telephone number and an email address;</li>
                            <li>a statement by you that you have a good faith belief that use of the material in the manner
                                complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                            <li>a statement that the information in the notification is accurate, and that You are authorized
                                to act on behalf of the copyright owner.</li>
                        </ol>
                    </li>
                    <li>We have the right to remove the Content alleged to be infringing without prior notice, at our
                        sole discretion, and without liability to you. In appropriate circumstances, we will also
                        terminate a user’s account if we determine that the user is a repeat infringer.</li>
                    <li>Notices regarding our Platform should be sent to: info@firstedu.co.in</li>
                    <li>INDEMNITY:<br />
                        You agree to defend, indemnify and hold harmless our Company/Platform, its employees, directors,
                        officers, agents and their successors and assigns from and against any and all claims, liabilities,
                        damages, losses, costs and expenses, including attorney&#39;s fees, caused by or arising out of claims
                        based upon your actions or inactions, which may result in any loss or liability to our Platform or
                        any third party including but not limited to breach of any warranties, representations or
                        undertakings or in relation to the non-fulfillment of any of your obligations under this Agreement
                        or arising out of your violation of any Applicable laws, regulations including but not limited to
                        Intellectual Property Rights, payment of statutory dues and taxes, claim of libel, defamation,

                        violation of rights of privacy or publicity, loss of service by other subscribers and infringement of
                        intellectual property or other rights. This clause shall survive the expiry or termination of this User
                        Agreement.
                    </li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">11. TERMINATION:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>We may, at any time and without notice, suspend, cancel, or terminate your right to use the
                        Platform (or any portion of the Platform). In the event of suspension, cancellation, or
                        termination, you are no longer authorized to access the entire or any part of the Platform
                        affected by such suspension, cancellation, or termination. In the event of any suspension,
                        cancellation, or termination, the restrictions imposed on you with respect to material
                        downloaded from the Platform and the disclaimers and limitations of liabilities set forth in
                        the Agreement, shall survive.</li>
                    <li>Without limiting the foregoing, we may close, suspend or limit your access to our Platform:
                        <ul class="cl-grey-1" style = "padding-left: 30px;">
                            <li>if we determine that you have breached, or are acting in breach of, this Agreement;</li>
                            <li>if we determine that you have breached legal liabilities (actual or potential), including
                                infringing someone else&#39;s Intellectual Property Rights;</li>
                            <li>if we determine that you have engaged, or are engaging, in fraudulent, or illegal activities;</li>
                            <li>to manage any risk of loss to us, a User, or any other person; or</li>
                            <li>For other similar reasons.</li>
                        </ul>
                    </li>
                    <li>If we find you breaching these terms, you may also become liable for an amount of which we
                        have suffered losses/damages.</li>
                </ol>

                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">12. DISCLAIMERS AND LIMITATION OF LIABILITY:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>The Platform is provided without any warranties or guarantees and in an &quot;As Is&quot; condition.
                        You must bear the risks associated with the use of the Platform.</li>
                    <li>The Platform provides content from other Internet Platforms or resources and while our
                        Platform tries to ensure that material included on the Platform is correct, reputable and of
                        high quality, it shall not accept responsibility if this is not the case. We will not be
                        responsible for any errors or omissions or for the results obtained from the use of such
                        information or for any technical problems you may experience with the Platform. This
                        disclaimer constitutes an essential part of this User Agreement. In addition, to the extent
                        permitted by Applicable law, we are not liable, and you agree not to hold Company
                        responsible, for any damages or losses (including, but not limited to, loss of money, goodwill
                        or reputation, profits, or other intangible losses or any special, indirect, or consequential
                        damages) resulting directly or indirectly from:
                        <ul class="cl-grey-1" style = "padding-left: 30px;">
                            <li>Your use of or your inability to use our Platform, Services and tools;</li>
                            <li>Delays or disruptions in our Platform, Services, or tools;</li>
                            <li>Viruses or other malicious software obtained by accessing our Platform, Services, or tools or
                                any Platform, Services, or tool linked to our Platform, Services, or tools;</li>
                            <li>Glitches, bugs, errors, or inaccuracies of any kind in our Platform, Services, and tools or in
                                the information and graphics obtained from them;</li>
                            <li>The content, actions, or inactions of third parties, including items listed using our Platform,
                                services, or tools or the destruction of allegedly fake items;</li>
                            <li>A suspension or other action taken with respect to your account; and</li>
                        </ul>
                    </li>
                    <li>The information, software, products, and services published on this Platform may include
                        inaccuracies or errors, including pricing errors. In particular and to the maximum extent
                        permitted by law, we do not guarantee the accuracy of, and disclaim liability for any errors
                        or other inaccuracies relating to, the information and description of the travel products
                        displayed on this Platform (including, without limitation, photographs, list of amenities,
                        general product descriptions, etc.), much of which information is provided by the respective
                        suppliers.</li>
                    <li>The Platform or the Company, to the extent permitted by law, is not liable for the acts,
                        errors, omissions, representations, warranties, breaches or negligence of any such suppliers
                        or for any personal injuries, death, property damage, or other damages or expenses
                        resulting therefrom. We, to the extent permitted by law, have no liability and will make no
                        refund in the event of any delay, cancellation, overbooking, strike, force majeure or other
                        causes beyond their direct control, and they have no responsibility for any additional
                        expense, omissions, delays, re-routing or acts of any government or authority.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">13. Limitation of Liability:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>To the maximum extent permitted by law, in no event shall we be liable for any direct,
                        indirect, punitive, incidental, special, or consequential damages arising out of, or in any way
                        connected with, your access to, display of or use of this Platform or with any delay or
                        inability to access, display or use this Platform (including, but not limited to, your reliance
                        upon opinions appearing on this Platform; any computer viruses, information, software,
                        linked Platforms, products, and services obtained through this Platform; or otherwise
                        arising out of the access to, display of or use of this Platform) whether based on a theory of
                        negligence, contract, tort, strict liability, consumer protection statutes, or otherwise, and
                        
                        even if we , our Affiliates and/or their respective suppliers have been advised of the
                        possibility of such damages.</li>
                    <li>User understands and agrees that any information or material obtained from the Platform
                        and/or products, services, content, tests or exams obtained from the Platform is done at
                        user&#39;s own discretion and risk and that user will be solely responsible for any damage
                        resulting from any transaction.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">14. GOVERNING LAWS AND JURISDICTION:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>This Agreement shall be construed in accord with the Applicable laws of India regardless of
                        your physical location.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">15. PLATFORM SECURITY:</h4>
                <p class="cl-grey-1  fs-15 my-4">You are prohibited from violating or attempting to violate the security of the Platform, including,
                    without limitation, (a) accessing data not intended for you or logging onto a server or an account
                    which you are not authorized to access; (b) attempting to probe, scan or test the vulnerability of a
                    system or network or to breach security or authentication measures without proper authorization;
                    (c) attempting to interfere with service to any other user, host or network, including, without
                    limitation, via means of submitting a virus to the Platform, overloading, &quot;flooding,&quot; &quot;spamming,&quot;
                    &quot;mail-bombing&quot; or &quot;crashing;&quot; (d) sending unsolicited email, including promotions and/or
                    advertising of products or services; or (e) forging any TCP/IP packet header or any part of the
                    header information in any email or newsgroup posting. Violations of system or network security
                    may result in civil or criminal liability. We will investigate occurrences that may involve such
                    violations and may involve, and cooperate with, law enforcement authorities in prosecuting users
                    who are involved in such violations. You agree not to use any device, software or routine to
                    interfere or attempt to interfere with the proper working of this Platform or any activity being
                    conducted on this Platform. You agree, further, not to use or attempt to use any engine, software,
                    tool, agent or other device or mechanism (including without limitation browsers, spiders, robots,
                    avatars or intelligent agents) to navigate or search this Platform other than the search engine and
                    search agents available from us on this Platform and other than generally available third party web
                    browsers (e.g., Netscape Navigator, Microsoft Explorer).</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">16. PRIVACY:</h4>
                <p class="cl-grey-1  fs-15 my-4">All Personal Information and User Generated Content provided to or displayed on the Platform and
                    Services are subject to our Privacy Statement.</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">17. NOTICE</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>By using the Platform and Services, you accept that communication with us will be mainly
                        electronic. We will contact you by email or provide you with information by posting notices
                        on the Platform and Services.</li>
                    <li>You acknowledge that all contracts, notices, information and other communication we may
                        provide electronically comply with any legal requirements that such documents are in
                        writing.</li>
                    <li>Notice will be deemed received and properly served immediately when posted on the
                        Platform and Services, 24 hours after an email is sent, or 3 days after the date of posting any
                        letter. As proof of service, it is sufficient that:
                        <ul class="cl-grey-1" style = "padding-left: 30px;">
                            <li>For letters, the letter was properly addressed, stamped and placed in the post; and</li>
                            <li>For emails, the email was sent to the specified email address.</li>
                        </ul>
                    </li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">18. LEGAL COMPLIANCE</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>In addition to this Agreement, you must familiarize yourself with, and comply with the
                        Policies, domestic laws (including common law), state legislation, international laws,
                        statutes, ordinances and regulations regarding your use of our services. Notwithstanding
                        successful conclusion of a transaction you must ensure strict compliance with any
                        particular formalities which, if not complied with, will either render a transaction void or
                        unlawful.</li>
                    <li>You alone, and not we, are responsible for ensuring that the services and any other
                        activities conducted on the Platform are lawful. You must ensure that they comply with all
                        Applicable laws in India and all other countries.</li>
                    <li>You should comply with country regulations.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">19. LINKS TO OTHER PLATFORMS:</h4>
                <p class="cl-grey-1  fs-15 my-4">Links to third party Platforms on this Platform are provided solely as a convenience to you. If you
                    use these links, a new browser will be lodged to access linked Platforms. We have not reviewed
                    these third party Platforms and does not control and is not responsible for any of these Platforms or
                    their content. We do not endorse or make any representations about them, or any information, or 
                    other products or materials found there, or any results that may be obtained from using them. If
                    you decide to access any of the third party Platforms linked to this Platform, you do this entirely at
                    your own risks.</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">20. NO WAIVER IMPLIED:</h4>
                <p class="cl-grey-1  fs-15 my-4">The failure of us to enforce at any time any of the provisions of these of Agreement, or the failure to
                    require at any time performance by you of any of the provisions of these provisions, shall in no way
                    be construed to be a present or future waiver of such provisions, nor in any way affect the our right
                    to enforce each and every such provision thereafter. The express waiver by us of any provision,
                    condition or requirement of these provisions shall not constitute a waiver of any future obligation
                    to comply with such provision, condition or requirement.</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">21. SEVERABILITY:</h4>
                <p class="cl-grey-1  fs-15 my-4">Each Term shall be deemed to be severable. If any Term or portion thereof is found to be invalid or
                    unenforceable, such invalidity or unenforceability shall in no way effect the validity or
                    enforceability of any other Term.</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">22. ASSIGNMENT:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>You will not assign any rights or delegate any obligations under these Terms, in whole or in
                        part, by operation of law or otherwise, without obtaining our prior written consent, which
                        may be withheld in our sole discretion.</li>
                    <li>We may assign our rights and delegate any of our obligations under these Terms, in whole
                        or in part, without your consent. Any assignment or delegation in violation of the foregoing
                        will be null and void. These Terms will be binding and inure to the benefit of each party’s
                        permitted successors and assigns.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">23. FORCE MAJEURE:</h4>
                <p class="cl-grey-1  fs-15 my-4">In no event we shall not be responsible or liable for any failure or delay in the performance of
                    obligations hereunder in these terms arising out of or caused by, directly or indirectly, forces
                    beyond its control, including, without limitation, strikes, work stoppages, accidents, acts of war or
                    terrorism, civil or military disturbances, nuclear or natural catastrophes or acts of God, and
                    interruptions, loss or malfunctions of utilities, communications, computer hacking, malicious
                    damage or computer (software and hardware) services;</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">24. DIGITAL SIGNATURE:</h4>
                <ol class="cl-grey-1" style = "padding-left: 30px;" type="I">
                    <li>By using our services, you are deemed to have executed this Agreement electronically,
                        effective on the date you register your Account and start using our services. Your Account
                        registration constitutes an acknowledgement that you are able to electronically receive,
                        download, and print this Agreement.</li>
                    <li>In connection with this Agreement, you may be entitled to receive certain records, such as
                        contracts, notices, and communications, in writing. To facilitate your use of the Platform,
                        you give us permission to provide these records to you electronically instead of in paper
                        form.</li>
                </ol>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">25. ENTIRE AGREEMENT:</h4>
                <p class="cl-grey-1  fs-15 my-4">These Terms collectively represent the entire agreement and understanding between you and us
                    and supersede any other agreement or understanding (written, oral or implied) that you and we
                    may have had. Any statement, inducement, promise, covenant or condition not expressly found
                    either in these Terms shall be deemed as void.</p>
                <h4 style = "text-decoration: underline; font-weight: bold; color: grey">26. CONTACT US:</h4>
                <p class="cl-grey-1  fs-15 my-4">For any further clarification of out Terms of Use, please write to us at <a href = "mailto:info@firstedu.co.in">info@firstedu.co.in</a>.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
