{% extends 'application_base.html' %}
{% load static %}
{% block metadetails %}
    <title>Fast Calculation Test Online - First Edu</title>
    <meta name="description" content="Improve your mathematical skills with our fast online calculation test! Use
    the interactive First Edu platform to get quick effective practice. Improve your skills in
    mental math to increase accuracy and computation speed. Give it a try now!">
    <meta name="keywords" content="Fast Calculation Test Online, Online Practice Test Papers for CBSE, Online
    Practice Test Papers for ICSE, Online Practice Test Papers for State Syllabus, CBSE
    School Exam, CBSE Mock Test, Mock Test for CBSE, CBSE Maths Mock Test, CBSE
    Maths Online Test, CBSE Online Test, CBSE Science Mock Test, CBSE Science
    Online Test, CBSE Online Test, Online MCQ Test for CBSE Science, ICSE School
    Exam, ICSE Mock Test, ICSE Mock Test, Mock Test ICSE, Online Mock Test for ICSE,
    Mock Test ICSE, Online MCQ Test for English, Online MCQ Test for Hindi, Online MCQ
    Test for Maths, Online MCQ Test for Social Science, English Olympiad Online Test,
    Maths Olympiad Online Test, Maths Olympiad Mock Test, NSO Online Practice Test,
    Online Aptitude Test, Online Test, Math MCQ Online Test, Online Test, Online
    Competitive Exam, Online Test for Maths, Online Test for English, English Online Test,
    Maths Online Test, Mock Test, Online Exam, Online Test English, Online Test Maths,
    Online Test Science, Online MCQ Test for Science, Maths Test Online, Online Quiz,
    Online Test Maths, Online Test Science, Social Science Online Test, SST Online Test,
    Competitive Exams Online, English Grammar Online Test, English Online Test, English
    Online Test, Maths MCQ Online Test, Maths Online Test, Maths Online Quiz, Maths
    Test Online, NCERT Science Online Test, NCERT Online Test, NCERT Online Test
    Science, NCERT Science Online Test, Online Math Test, Online Science Test, Online
    English Grammar Test, Online Exam, Online Grammar Test, Online Maths Quiz, Online
    Maths Quiz, Online MCQ Test, Online Aptitude Test, Speed Live Test, Spell Bee,
    Vocabulary Live Test, Vocabulary Speed Test, School Exam Preparation, School
    Exams, School Live Test, State Board School Exams, Calculation Practice, Maths
    Calculation Practice, Fast Calculation Practice, Math Calculation Practice, Online Maths
    Calculation Test, Maths Calculation Speed Test Online, Online Calculation Practice">
    <link rel="canonical" href="https://firstedu.co.in/why-choose-us" />
{% endblock metadetails %}
{% block content %}
<section class="section_contact-banner pt-3 pb-4 bgs-lightblue">
<div class="container">
    <div class="row">
        <div class="col-lg-6  align-self-center ">
            <h2 class="test-bold fs-40 font-size cl-darkblue">FirstEdu<p class="cl-blue-1  fs-15 pt-4 right-padding"> is a unique concept where specifically designed exams are conducted online for continuous evaluation of the students. It prepares and make the students ready to handle any exams without getting scared and nervous.</p> </h2>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images\about-banner.png' %}" alt="" class="  img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-knowledge py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-5 pr-5 text-lg-left text-center">
                <img src="{% static 'images\knowledge.png' %}" class="img-fluid text-center text-lg-left " alt="Los Angeles">
            </div>       
            <div class="col-lg-6 col-12 align-self-center">
                
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Wide Coverage</h2>
                <p class="fs-15 cl-dark pt-md-3">The Exams cover wide range of subjects and topics. It tries to
                    cover the areas which are trending in all competitive tests. Thus
                    makes a student conversant in the skills.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Continuous performance evaluation</h2>
                <p class="fs-15 cl-dark pt-md-3">Continuous performance evaluation in the form of specially
                    designed tests which assist in avoiding serious problems in the
                    future. The performance is evaluated on an ongoing basis. It
                    identifies the weaknesses of students so that they can improve
                    upon for future.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Improve Abilities</h2>
                <p class="fs-15 cl-dark pt-md-3">The exams improve the problem solving abilities, critical &amp; logical
                    thinking as well as emotional quotient of students.
                    Further, the exams also identify the weaknesses of a student and
                    encourages to take more such exams to overcome his/her
                    shortcomings.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Talent identification</h2>
                <p class="fs-15 cl-dark pt-md-3">FirstEdu identify the talent and nurture it to become a shining star</p>
            </div>  
        </div> 
    </div>
</section>

{% endblock content %}


